@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
:root {
    --Green:#B9FF66;
    --Dark: #191A23;
    --White: #FFF;
    --Grey: #f3f3f3;
}
body {
    background-color: var(--White);
}
svg {
    color: black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk";
}
/*MOBIL SURUM*/
.container-posivitus {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 430px;
    gap: 20px;
}
/*HEADER MOBİL SÜRÜM*/
header {
    margin-top: 20px;
    width: 100%;
    padding-inline: 20px;
    display: flex;
    gap: 222px;
    align-items: center;
}
.header-links {
    display: none;
}
/*Hamburger Buton CSS*/
.menu-btn {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;

}
.menu-btn span {
    width: 100%;
    height: 4.5px;
    background: black;
    border: 5px;
    transition: all 0.3s ease-in-out;
}
/*Buton Aktif Olduğunda X e dönüşmesi*/
.menu-btn.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.menu-btn.active span:nth-child(2) {
    opacity: 0;
}

.menu-btn.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
/* Menü Modalı */
.menu-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(39, 40, 59, 0.733);
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.menu-modal nav ul li a {
    color: var(--White);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

/* Menü İçeriği */
.menu-content {
    background: var(--White);
    padding: 20px;
    width: 80%;
    max-width: 300px;
    border-radius: 10px;
    text-align: center;
}

/* Menü Listesi */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

/* Kapat Butonu */
.close-btn {
    display: none;
}
/*SECTION*/
section {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.content-1-top {
    margin-top: 20px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content-1-top h2 {
    color: #000;
    font-size: 43px;
    font-weight: 500;
    line-height: normal;
}
.content-1-top img {
    width: 100%;
    padding-inline: 14px;
}
.content-1-bot {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.content-1-bot h2 {
    padding-inline: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.content-1-bot button{
    width: 100%;
    padding: 20px 35px;
    background-color: var(--Dark);
    color: var(--White);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    border-radius: 14px;
}
/*SECTION - 2*/
.section-content-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.company-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.company-bot {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/*SECTION-3 SERVICES*/
.section-content-3 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.services-top {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.services-top h3 {
    font-size: 36px;
    font-weight: 500;
    line-height: normal;
    background-color: #B9FF66;
    width: 39%;
    border-radius: 10px;
    text-align: center;
    padding-inline: 7px;
}
.services-top h4 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.services-bot {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 30px;
}
.services-bot img {width: 100%;}
.services-proposal {
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    gap: 20px;
    width: 100%;
    background-color: var(--Grey);
    border-radius: 45px;
}
.services-proposal h4 {
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.services-proposal h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.btn-proposal {
    width: 100%;
    padding: 20px 35px;
    background-color: var(--Dark);
    color: var(--White);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px; /* 140% */
    border-radius: 14px;
    border: none;
}